{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	    <title>{{judul}}</title>
	{% include "snippets/styles.html" %}
	<link rel="icon" href="{% static "img/logo.jpg" %}">
</head>
<body>
	
	{% include "snippets/navbar.html" %}

	<div class="jumbotron">
	  <h1 class="display-4 text-center">{{tagJumbotron}}</h1>
	  <p class="lead text-center">{{deskJumbotron}}</p>
	  <hr class="my-4" style='width:27%' align="center">
	  <p id='poweredby' class='text-center'>Powered by</p>
	  <a class="text-center" href="https://www.zonabelajar.com/"><img class='logozonabelajar' src="{% static "img/zonatanya.png" %}" id="zonabelajarlogo"alt=""></a>
	  <br>
	  <a class="btn btn-primary btn-sm" href="#" role="button" id='tombolbertanya'>Mulai Bertanya!</a>
	</div>

	{% block logincontent %}
	    
	{% endblock logincontent %}
	
	<section>
		{% block konten1 %}
			<div class="container-fluid">
				<div class="container bg-info text-light shadow" style="margin-top:0px">
					{# judul #}
					<div class="row">
						<div class="col-sm-12 text-center" id='tanyatanya'>
							Tanya Tanya
						</div>
						<hr>
					</div>
					<div class="row">
						<div class="col-sm-6">

							{# Kategori dan isi Pertanyaan #}
							<div class="row">
								<div id='kategoripertanyaan' class="col-sm-12">
										{{data_pertanyaan.kategoriPertanyaan}}		
								</div>
							</div>
							<hr>
							<div class="row">
								<div id='babpertanyaan' class="col-sm-12">
									{{data_pertanyaan.babPertanyaan}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-12">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde cumque itaque repudiandae repellendus maxime aliquam. Dicta iusto consectetur, labore, libero quos ipsam recusandae fugit perspiciatis delectus! Dignissimos fuga voluptatum nulla.</p>
								</div>
							</div>

						</div>
						{# Profl #}
						<div class="col-sm-6">
							{# judul Profil #}
							<div class="row">
								<div class="col-sm-12 text-center" id='profil'>
									PROFIL
								</div>
							</div>
							<hr>
							{# Isi Profil #}
							{# 1. Biodata #}
							<div class="row">
								<div class="col-sm-6">
									Nama : {{data_pertanyaan.nama}}
									<br>
									Sekolah : {{data_pertanyaan.asalSekolah}}
									<br>
									Minat : {{data_pertanyaan.minat}}
									<br>
									<br>
									<br>
									Waktu Posting : {{data_pertanyaan.waktubertanya}}
								</div>
							{# Foto Profil #}
								<div class="col-sm-6 text-center">
									Foto
									<br>
									<img src="{% static "{{profil.foto_profil}}" %}" alt="">
								</div>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<br>
		{% endblock konten1 %}
	</section>

	{% include "snippets/scripts.html" %}
</body>
</html>